.bash_history
.cache
.cargo
.composer
.hsperfdata
.idea
.npm
.nuget
.pytest_cache
.Rhistory
.Rproj.user
.rproj.data
.sass-cache
_sass

# Build output and VCS (huge context bloat if not excluded)
**/bin
**/obj
.git
.gitignore

# Logs
logs
*.log

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Node
node_modules
npm-debug.log

# Visual Studio
.vs
.vscode
artifacts/
.gitignore
**/bin/
**/obj/
*.suo
*.user
*.userprefs
*.sln.iml

# Rider
.idea
*.sln.iml

# misc
.DS_Store
*.pem
*.pfx
*.pub
*.cache
*.out
*.dll
*.exe
*.so
*.dylib
*.a
*.o
*.target.xml
*.svcmap
*.pdb
*_i.c
*_p.c
*_h.c
*.ilk
*.log
*.lock.json
*.suo
*.user
*.userprefs