@model List<EventCustomization>
@using System.Security.Claims;
@{
    ViewData["Title"] = "Event Customization";

}

<style>
    .tooltip-custom {
        position: relative;
        display: inline-block;
    }

        .tooltip-custom:hover .tooltiptext-custom {
            display: inline-block;
            z-index: 3;
            position: absolute;
            bottom: 25px; /* Adjust this value as needed */
            left: 50%;
            transform: translateX(-50%); /* Center the tooltip */
        }

    .tooltiptext-custom {
        display: none;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
        white-space: nowrap;
        text-align: center; /* Center the text within the tooltip */
        position: absolute;
    }

        .tooltiptext-custom .bootstrap-dark {
            background-color: rgba(33, 37, 41, 0.95);
        }

        .tooltiptext-custom .bootstrap {
            background-color: rgba(130, 135, 140, 0.95);
        }

    .bootstrap-dark .speech-bubble {
        background-color: rgba(33, 37, 41, 0.95);
    }

    .bootstrap .speech-bubble {
        background-color: rgba(130, 135, 140, 0.95);
    }

    .speech-bubble {
        position: relative;
        padding: 10px; /* Adjust the padding to your preference */
        margin: 10px auto; /* Center the bubble horizontally */
        border-radius: 5px; /* Rounded corners for the bubble */
    }

        /* Create the triangle */
        .speech-bubble :after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -15px; /* Half of the triangle's width */
            border-width: 15px; /* Adjust the size of the triangle */
            border-style: solid;
            border-color: #ccc transparent transparent transparent;
        }
</style>

<div ng-controller="AdminPage">
    <h2>Event Customization</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Priority</th>
                <th>Description</th>
                <th>Tips</th>
                <th>Thumbnail</th>
                <th>Emoji</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" ng-click="EditItem(item)">
                <td>{{item.type}}</td>
                <td>{{item.priority}}</td>
                <td>{{item.description}}</td>
                <td>{{item.Tips.length}}</td>
                <td style="max-width: 50px;"><img ng-src="{{item.thumbnailURL}}" class="img-thumbnail" /></td>
                <td>{{item.emoji}}</td>
            </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="Edit.html">
        <style>
            .modal-body {
                max-height: calc(100vh - 180px); /* Adjust the value as needed */
                overflow-y: auto;
            }

            .tip-container {
                border: 1px solid #ccc;
                border-radius: 8px;
                margin-bottom: 10px;
                padding: 10px;
            }

            .tip-item {
                margin-bottom: 10px;
            }
        </style>
        <div class="modal-header d-flex justify-content-between align-items-center">
            <span>Edit Item</span>
            <button type="button" class="close" ng-click="Cancel()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-auto">
            <div class="form-group">
                <label>Type</label>
                <input class="form-control" disabled ng-model="item.type" />
            </div>
            <div class="form-group">
                <label>Priority (Positive Numbers will stack Emoji)</label>
                <input class="form-control" type="number" ng-model="item.priority" />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea spellcheck="false" class="form-control" id="Description" ng-model="item.description"></textarea>
            </div>
            <div class="form-group">
                <label>ThumbnailUrl</label>
                <input class="form-control" ng-model="item.thumbnailURL" />
            </div>
            <div class="form-group">
                <label>Emoji</label>
                <input class="form-control" ng-model="item.emoji" />
            </div>

            <hr class="mt-1 mb-1">
            
            <h3>Tips</h3>
            <div ng-repeat="tip in item.Tips track by $index" class="tip-container">
                <div class="form-group tip-item">
                    <label>Title</label>
                    <input class="form-control" ng-model="tip.Name" />
                </div>
                <div class="form-group tip-item">
                    <label>Text</label>
                    <textarea spellcheck="false" class="form-control" ng-model="tip.Value"></textarea>
                </div>
                <div class="form-group tip-item">
                    <label>Remove Tip</label> <br>
                    <button class="btn btn-danger" ng-click="RemoveTip($index)">X</button>
                </div>
            </div>

            <button class="mt-2 btn btn-success" ng-click="AddTip()">+ Add Tip</button>

            <hr class="mt-1 mb-1">

            <h3>Notifications</h3>
            <div class="pb-2" ng-repeat="notification in item.settings.notifications track by $index">
                <div class="row align-items-center">
                    <div class="col">
                        <label for="roleId{{$index}}">Role ID</label>
                        <input id="roleId{{$index}}" class="form-control" ng-model="notification.roleIdString" />
                    </div>
                    <div class="col">
                        <label for="minValue{{$index}}" class="tooltip-custom">
                            Min Value
                            <span class="tooltiptext-custom speech-bubble">
                                The minimum value the event must be to ping this role. <br>
                                For example, to ping a role specifically <br>for 3x prestige you would enter 3
                            </span>
                        </label>
                        <input id="minValue{{$index}}" class="form-control" ng-model="notification.minValue" />
                    </div>
                    <div class="col">
                        <label for="removeNotif{{$index}}">Remove</label> <br>
                        <button id="removeNotif{{$index}}" class="btn btn-danger" ng-click="$parent.item.settings.notifications.splice($index, 1)">X</button>
                    </div>
                </div>
            </div>
            <button class="mt-2 btn btn-success" ng-click="item.settings.notifications.push({})">+ Add Notification</button>
        </div>        
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="Save()">Save</button>
            <button class="btn btn-default" ng-click="Cancel()">Cancel</button>
        </div>
    </script>
</div>
@section Scripts {
    <style>
        .md-errors-spacer {
            display: none;
        }

        trix-editor.form-control {
            height: auto;
        }
    </style>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js"></script>



    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>


    <script>
        angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages'])
            .controller('AdminPage', ['$scope', '$rootScope', '$uibModal', 'moment', '$http', '$timeout', '$interval', '$q', function ($scope, $rootScope, $uibModal, moment, $http, $timeout, $interval, $q) {
                $scope.items = @Html.Raw(Json.Serialize(Model));

                angular.forEach($scope.items, function (item) {
                    item.Tips = JSON.parse(item.fields || '[]');
                });

                $scope.EditItem = function EditItem(item) {
                    $uibModal.open({
                        templateUrl: 'Edit.html',
                        size: 'lg',
                        backdrop: 'static',
                        animation: false,
                        controller: function ($scope, $uibModalInstance) {
                            $scope.item = item;
                            if($scope.item.settings.notifications == null) {
                                $scope.item.settings.notifications = [];
                            }

                            $scope.saved = angular.copy(item);

                            $scope.AddTip = function AddTip() {
                                $scope.item.Tips.push({});
                            };

                            $scope.RemoveTip = function (index) {
                                if (confirm("Are you sure you want to delete the tip?")) {
                                    $scope.item.Tips.splice(index, 1);
                                }
                            }

                            $scope.Save = function Save() {
                                $scope.item.Fields = JSON.stringify($scope.item.Tips);
                                $scope.item._settings = JSON.stringify($scope.item.settings);
                                console.log($scope.item);
                                $http({ method: 'POST', data: item, url: '/admin/saveeventcustomization/' })
                                    .then(function successCallback(response) {
                                        if (response.data.Error) {
                                            alert(response.data.Error);
                                            return;
                                        }
                                        $uibModalInstance.close();
                                    }, function errorCallback(response) {
                                        alert('Error Saving');
                                    });
                            };

                            $scope.Cancel = function Cancel() {
                                _.assign(item, $scope.saved);
                                $uibModalInstance.close();
                            };
                        }
                    });
                };
            }]);
    </script>
}
