@model List<EventCustomization>
@{
    ViewData["Title"] = "Event Customization";
}

<div ng-controller="AdminPage">
    <h2>Event Customization</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Priority</th>
                <th>Description</th>
                <th>Tips</th>
                <th>Thumbnail</th>
                <th>Emoji</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" ng-click="EditItem(item)">
                <td>{{item.type}}</td>
                <td>{{item.priority}}</td>
                <td>{{item.description}}</td>
                <td>{{item.Tips.length}}</td>
                <td style="max-width: 50px;"><img ng-src="{{item.thumbnailURL}}" class="img-thumbnail" /></td>
                <td>{{item.emoji}}</td>
            </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="Edit.html">
        <div class="modal-header">Edit Item</div>
        <div class="modal-body">
            <div class="form-group">
                <label>Type</label>
                <input class="form-control" disabled ng-model="item.type" />
            </div>
            <div class="form-group">
                <label>Priority (Positive Numbers will stack Emoji)</label>
                <input class="form-control" type="number" ng-model="item.priority" />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input class="form-control" id="Description" ng-model="item.description" />
            </div>
                <h3>Tips</h3>
            <div ng-repeat="tip in item.Tips track by $index">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" ng-model="tip.Name" />
                </div>
                <div class="form-group">
                    <label>Text</label>


                    <input class="form-control" ng-model="tip.Value" />
                    <button class="btn btn-danger" ng-click="RemoveTip($index)">X</button>
                </div>
            </div>
            <button class="btn btn-success" ng-click="AddTip()">+ Add Tip</button>
            <div class="form-group">
                <label>ThumbnailUrl</label>
                <input class="form-control" ng-model="item.thumbnailURL" />
            </div>
            <div class="form-group">
                <label>Emoji</label>
                <input class="form-control" ng-model="item.emoji" />
            </div>

            <h3>Notifications</h3>
            <div ng-repeat="notification in item.settings.notifications track by $index">
                <div class="row">
                    <div class="col">
                        GuildId
                    </div>
                    <div class="col">
                        <input class="form-control" ng-model="notification.guildID" />
                    </div>
                    <div class="col">
                        RoleID
                    </div>
                    <div class="col">
                        <input class="form-control" ng-model="notification.roleID" />
                    </div>
                    <div class="col">
                        MinValue
                    </div>
                    <div class="col">
                        <input class="form-control" ng-model="notification.minValue" />
                    </div>
                    <div class="col">
                        <button class="btn btn-danger" ng-click="$parent.settings.notifications.splice($index)">X</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" ng-click="item.settings.notifications.push({})">+ Add Notification</button>
        </div>
        @if (User.IsInRole("Admin")) {
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="Save()">Save</button>
                <button class="btn btn-default" ng-click="Cancel()">Cancel</button>
            </div>
        }
    </script>
</div>
@section Scripts {
    <style>
        .md-errors-spacer {
            display: none;
        }

        trix-editor.form-control {
            height: auto;
        }
    </style>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js"></script>



    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>


    <script>
        angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages'])
            .controller('AdminPage', ['$scope', '$rootScope', '$uibModal', 'moment', '$http', '$timeout', '$interval', '$q', function ($scope, $rootScope, $uibModal, moment, $http, $timeout, $interval, $q) {
                $scope.items = @Html.Raw(Json.Serialize(Model));

                angular.forEach($scope.items, function (item) {
                    item.Tips = JSON.parse(item.fields || '[]');
                });

                $scope.EditItem = function EditItem(item) {
                    $uibModal.open({
                        templateUrl: 'Edit.html',
                        size: 'lg',
                        backdrop: 'static',
                        animation: false,
                        controller: function ($scope, $uibModalInstance) {
                            $scope.item = item;
                            if($scope.item.settings.notifications == null) {
                                $scope.item.settings.notifications = [];
                            }

                            $scope.saved = angular.copy(item);

                            $scope.AddTip = function AddTip() {
                                $scope.item.Tips.push({});
                            };

                            $scope.RemoveTip = function (index) {
                                if (confirm("Are you sure you want to delete the tip?")) {
                                    $scope.item.Tips.splice(index, 1);
                                }
                            }

                            $scope.Save = function Save() {
                                $scope.item.Fields = JSON.stringify($scope.item.Tips);
                                console.log($scope.item);
                                $scope.item._settings = JSON.stringify($scope.item.settings);
                                $http({ method: 'POST', data: item, url: '/admin/saveeventcustomization/' })
                                    .then(function successCallback(response) {
                                        if (response.data.Error) {
                                            alert(response.data.Error);
                                            return;
                                        }
                                        $uibModalInstance.close();
                                    }, function errorCallback(response) {
                                        alert('Error Saving');
                                    });
                            };

                            $scope.Cancel = function Cancel() {
                                _.assign(item, $scope.saved);
                                $uibModalInstance.close();
                            };
                        }
                    });
                };
            }]);
    </script>
}
