<div ng-controller="AdminPage">
<textarea ng-model="json"></textarea>
    <button ng-click="Save()">Save</button>
</div>

@section Scripts {
    <script>
        angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages'])
            .controller('AdminPage', ['$scope', '$rootScope', '$uibModal', 'moment', '$http', '$timeout', '$interval', '$q',
            function ($scope, $rootScope, $uibModal, moment, $http, $timeout, $interval, $q) {
                                            // Action functions
                                $scope.Save = function Save() {
                                    $http({ method: 'POST', url: '/admin/savefaqtopic/', data: $scope.json, headers: { 'Content-Type': 'application/json' } })
                                        .then(function successCallback(response) {
                                            if (response.data.Error) {
                                                alert(response.data.Error);
                                                return;
                                            }
                                            $uibModalInstance.close();
                                            location.reload();
                                        }, function errorCallback(response) {
                                            alert('Error Saving');
                                        });
                                };
                            }]);
    </script>
}