@page
@model ErrorAccountNotFoundModel
@{
    ViewData["Title"] = "Account Not Registered";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This discord account isn't registered with the bot EGG9000, please use the discord account that you registered with.</p>
</header>
