@{
    ViewData["Title"] = "Home Page";
}

<div x-data="boostsPage()">
    <div class="d-flex align-items-center gap-2 flex-wrap mb-2">
        <label>Max Tokens</label>
        <input type="number" x-model.number="maxTokens" class="form-control mb-2" @@input="startCalculate()" />
        <label>Earning Per Second</label>
        <input type="number" x-model.number="earningsPerSecond" class="form-control mb-2" @@input="startCalculate()" />
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" x-model="hide8Hour" @@change="startCalculate()">
            <label class="form-check-label" for="defaultCheck1">
                Hide 8h boosts
            </label>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Boost 1</th>
                <th>Boost 2</th>
                <th>Boost 3</th>
                <th>Boost 4</th>
                <th>Boost 5</th>
                <th>Cost</th>
                <th>Multiplier</th>
                <th>Per Token</th>
                <th>Time</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="(combo, $index) in combos" :key="$index">
                <tr>
                    <template x-for="(boost, $bi) in combo.boosts" :key="$bi">
                        <td>
                            <div x-show="boost.A" x-text="boost.A + 'x for ' + boost.T + 'm E'"></div>
                            <div x-show="boost.B" x-text="boost.B + 'x for ' + boost.T + 'm B'"></div>
                        </td>
                    </template>
                    <td x-text="combo.cost"></td>
                    <td x-text="combo.multiplier"></td>
                    <td x-text="combo.pertoken"></td>
                    <td x-text="combo.time"></td>
                    <td x-text="combo.total.toLocaleString()"></td>
                </tr>
            </template>
        </tbody>
    </table>
    <div class="alert alert-info" role="alert" x-show="calculating">
        Calculating...
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('boostsPage', () => ({
                maxTokens: 75,
                earningsPerSecond: 1,
                hide8Hour: false,
                combos: [],
                calculating: false,

                startCalculate() {
                    this.calculating = true;
                    this.combos = [];
                    setTimeout(() => this.calculateAll(), 1);
                },

                calculateAll() {
                    const allBoosts = [
                        { A: 2, T: 60, C: 1 },
                        { A: 2, T: 60 * 8, C: 1 },
                        { A: 10, T: 30, C: 2 },
                        { A: 10, T: 120, C: 3 },
                        { A: 50, T: 10, C: 3 }, { A: 50, T: 60, C: 5 },
                        { B: 2, T: 30, C: 5 },
                        { B: 10, T: 10, C: 10 },
                        { B: 5, T: 60, C: 15 },
                        { B: 50, T: 10, C: 50 },
                        { C: 0, T: 0 }
                    ];
                    const maxTime = 40099;
                    const boosts = _.filter(allBoosts, item => !this.hide8Hour || item.T < 480);

                    const combos = [];
                    for (let a1 = 0; a1 < boosts.length; a1++)
                    for (let a2 = a1; a2 < boosts.length; a2++)
                    for (let a3 = a2; a3 < boosts.length; a3++)
                    for (let a4 = a3; a4 < boosts.length; a4++)
                    for (let a5 = a4; a5 < boosts.length; a5++) {
                        const combo = [boosts[a1], boosts[a2], boosts[a3], boosts[a4], boosts[a5]];
                        const cost = _.sumBy(combo, 'C');
                        const aSum = _.sumBy(combo, 'A');
                        const time = _.maxBy(combo, 'T').T;
                        if (cost <= this.maxTokens && aSum > 0 && time < maxTime) {
                            const item = { cost, boosts: combo, time };
                            this.calculateM(item);
                            combos.push(item);
                        }
                    }

                    let sorted = _.orderBy(combos, ['total'], ['desc']);
                    for (let i = 0; i < sorted.length - 1; i++) {
                        const c1 = sorted[i];
                        for (let j = i + 1; j < sorted.length; j++) {
                            const c2 = sorted[j];
                            if (c2.cost > c1.cost || (c2.cost === c1.cost && c2.total <= c1.total && c2.time >= c1.time)) {
                                c2.delete = true;
                            }
                        }
                    }
                    this.combos = _.filter(sorted, item => !item.delete);
                    this.calculating = false;
                },

                calculateM(combo) {
                    const maxT = _.maxBy(combo.boosts, 'T').T;
                    let multiplier = 0;
                    for (let m = 0; m < maxT; m++) {
                        const earnings = _.filter(combo.boosts, b => b.A > 0 && b.T > m);
                        const boost = _.filter(combo.boosts, b => b.B > 0 && b.T > m);
                        multiplier += _.sumBy(earnings, 'A') * Math.max(_.sumBy(boost, 'B'), 1);
                    }
                    combo.multiplier = multiplier;
                    combo.pertoken = Math.round(multiplier / combo.cost);
                    combo.total = Math.round(multiplier * this.earningsPerSecond * 60);
                },

                init() {
                    this.startCalculate();
                }
            }));
        });
    </script>
}
