th {
    position: sticky;
    top: 0;
    text-align: center;
}

.Me td {
    background-color: #adffaa !important;
}

[data-bs-theme="dark"] .Me td {
    background-color: #2c462b !important;
}

.jump-anchor {
    position: relative;
    top: -40px;
}
