@model EGG9000.Site.Controllers.HomeController.FAQViewModel;
@using System.Security.Claims;
@{
    ViewData["Title"] = "FAQ Index";
}

<div ng-controller="Page">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h2>@Model.GuildName FAQs</h2>
        <input class="form-control" ng-model="guildSearchTerm" style="width: 500px" placeholder="Search (Name, Keywords, Explanation)" name="guildSearchTerm" />
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Keywords</th>
                <th colspan="2">Explanation</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="filteredGuildItems.length == 0">
                <td colspan="8" style="text-align: center; font-weight: bold;">No items to show.</td>
            </tr>
            <tr ng-else ng-repeat="faqItem in filteredGuildItems = (items | filter:guildFilter)" ng-click="ViewItem(faqItem, false)">
                <td>{{faqItem.name}}</td>
                <td>{{faqItem.Keywords.join(", ")}}</td>
                <td colspan="2">{{minifyIfOver(faqItem.explanation)}}</td>
                <td>{{faqItem.createdBy}}</td>
            </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="View.html">
        <style>
            .modal-body {
                max-height: calc(100vh - 180px);
                overflow-y: auto;
            }

            .grid-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                margin-top: 10px;
            }

            .grid-item {
                display: flex;
                flex-direction: column;
            }

            .grid-item label {
                margin-bottom: 5px;
            }
        </style>

        <div class="modal-header d-flex justify-content-between align-items-center">
            <span ng-if="!newItem">FAQ Topic - {{ item.name }}</span>
            <span ng-if="newItem">New FAQ Topic</span>
            <button type="button" class="close" ng-click="Back()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body overflow-auto">
            <div class="form-group">
                <label>
                    Name<br />
                </label>
                <input ng-disabled="true" autocomplete="off" aria-autocomplete="none" class="form-control" ng-model="item.name" />
            </div>

            <div class="form-group">
                <label>
                    Keywords<br />
                    <span style="font-size: 0.9rem; color: gray;">
                        These are the keywords that can be searched to display this topic.
                    </span>
                </label><br>
                <div ng-repeat="keyword in item.Keywords track by $index" style="display: flex; align-items: center; margin-bottom: 5px;">
                    <input ng-disabled="true" autocomplete="off" aria-autocomplete="none" type="text" class="form-control" ng-model="item.Keywords[$index]" ng-blur="formatKeyword($index)" style="margin-right: 10px;" />
                </div>
            </div>

            <div class="form-group">
                <label>
                    Explanation<br />
                </label>
                <textarea rows="8" ng-disabled="true" autocomplete="off" aria-autocomplete="none" spellcheck="false" class="form-control" ng-model="item.explanation"></textarea>
            </div>

            <div class="form-group">
                <label>
                    Created by<br />
                </label>
                <input disabled class="form-control" ng-model="item.createdBy" />
            </div>
        </div>

        <div class="modal-footer ng-scope" style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; gap: 10px;">
                <button class="btn btn-warning" ng-click="Back()">Back</button>
            </div>
        </div>
    </script>
</div>

@section Scripts {
    <style>
        .md-errors-spacer {
            display: none;
        }

        trix-editor.form-control {
            height: auto;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>


    <script>
        angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages'])
            .controller('Page', ['$scope', '$rootScope', '$uibModal', 'moment', '$http', '$timeout', '$interval', '$q', function ($scope, $rootScope, $uibModal, moment, $http, $timeout, $interval, $q) {
                // Setup items from Model
                $scope.items = @Html.Raw(Json.Serialize(Model.FAQTopics));

                angular.forEach($scope.items, function (item) {
                    item.Keywords = JSON.parse(item._keywords || '[]');
                });

                $scope.minifyIfOver = function (str) {
                    if (!str) return '';
                    if (str.length > 200) {
                        return str.substr(0, 200) + ' [...]';
                    } else return str;
                };

                // Filter function for guild items
                $scope.guildFilter = function (faqItem) {
                    if (!$scope.guildSearchTerm) {
                        return true;
                    }
                    var searchTerm = $scope.guildSearchTerm.toLowerCase();
                    return faqItem.name.toLowerCase().includes(searchTerm) ||
                        faqItem.Keywords.join(", ").toLowerCase().includes(searchTerm) ||
                        faqItem.explanation.toLowerCase().includes(searchTerm);
                };

                // Modal setup
                $scope.ViewItem = function ViewItem(item, subscribeModal) {
                    $uibModal.open({
                        templateUrl: 'View.html',
                        size: 'lg',
                        backdrop: 'static',
                        animation: false,
                        controller: function ($scope, $uibModalInstance) {
                            // Item declarations and setup
                            if (item != null) {
                                $scope.item = item;
                            }

                            $scope.Back = function Cancel() {
                                $uibModalInstance.close();
                            };
                        }
                    });
                };
            }]);
    </script>
}