.toggleHide {
    display: none;
}

#altNotShownBody tr {
    display: none;
}

#altNotShownBody .toggleHide {
    display: table-row;
}

@media (min-width: 992px) {

    #content-collapse tr {
        display: none;
    }

    #content-collapse .toggleHide {
        display: table-row;
    }

    #altNotShownBody tr {
        display: table-row;
    }

    #altNotShownBody .toggleHide {
        display: none;
    }
}
