.afx-bg, .afx-img {
    height: 1em;
    width: 1em;
}
/* Mission duration colors. Keep in sync with durationColor() in -ShipsAndFarms.cshtml. */
.ship-container, .asc-info-container {
    --extended-color: darkorange;
    --standard-color: purple;
    --short-color: #13589c;
}

.ShipCardStar {
    letter-spacing: -0.1em;
}

.GoldenStar {
    color: gold;
}

.GrayStar {
    color: gray;
}

.tooltip-text {
    color: black;
}

[data-bs-theme="dark"] .tooltip-text {
    color: #ccc;
}

.tooltip-custom {
    position: relative;
    display: inline-block;
}

.tooltip-custom:hover .tooltiptext-custom {
    display: inline-block;
    z-index: 3;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip */
}

.tooltip-custom img {
    height: 100%; /* Ensure the image's height is equal to the span */
    max-height: 1em; /* Set a reasonable limit for the height based on the font size */
    width: auto; /* Ensure the aspect ratio is maintained */
    vertical-align: middle; /* Align the image vertically with the text */
}

[data-bs-theme="dark"] .tooltip-custom img {
    filter: invert(1) !important;
}

.tooltiptext-custom {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center; /* Center the text within the tooltip */
    position: absolute;
    background-color: rgba(235, 239, 242, 0.95);
}

[data-bs-theme="dark"] .tooltiptext-custom {
    background-color: rgba(33, 37, 41, 0.95);
}

[data-bs-theme="dark"] .speech-bubble {
    background-color: rgba(33, 37, 41, 0.95);
}

.speech-bubble {
    position: relative;
    padding: 10px;
    margin: 10px auto; /* Center the bubble horizontally */
    border-radius: 5px; /* Rounded corners for the bubble */
    background-color: rgba(235, 239, 242, 0.95);
}

/* Create the triangle */
.speech-bubble :after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px; /* Half of the triangle's width */
    border-width: 15px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}

[data-bs-theme="dark"] .gray-text-half-margin, [data-bs-theme="dark"] .gray-text {
    color: lightgray;
}

.gray-text-half-margin, .gray-text {
    color: darkgray;
}

.mission-progress-blue {
    background-color: var(--short-color);
}
.mission-progress-purple {
    background-color: var(--standard-color);
}
.mission-progress-orange {
    background-color: var(--extended-color);
}

.orange-text {
    color: var(--extended-color);
}
.purple-text {
    color: var(--standard-color);
}
.blue-text {
    color: var(--short-color);
}

.gray-text, .orange-text, .purple-text, .blue-text {
    display: inline-block;
    margin-right: 10px;
}

.gray-text-half-margin {
    display: inline-block;
    margin-right: 5px;
}

.ship-item {
    flex: 1;
    margin: 7px;
}

.ship-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: conic-gradient( from 0deg transparent 0%, #000 0%, #000 100% /* Change this percentage to control the "x%" filled in */
    );
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

.fuel-progress-bar {
    border: solid 2px black;
    border-radius: 7px;
    max-height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
}

.double-cap-span {
    background-color: rgb(139, 14, 158);
    border: 2px solid rgb(92, 9, 91);
    border-radius: 10px;
    color:white;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    width: 70%;
}

.superfood-progress-bar,
.edible-progress-bar {
    background-color: #f0ead6;
    border-color: black;
} .medical-progress-bar {
    background-color: #730f23;
    border-color: #400203
} .rocket-fuel-progress-bar {
    background-color: #b08717;
    border-color: black;
} .super-material-progress-bar {
    background-color: #2e2d2c;
    border-color: #211f20
} .prodigy-progress-bar,
.terraform-progress-bar,
.ai-progress-bar,
.fusion-progress-bar {
    background-color: #117d7b;
    border-color: #4f5757
} .quantum-progress-bar {
    background-color: #c4bf1f;
    border-color: #3b3b38;
} .immortality-progress bar {
    background-color: #2e5666;
    border-color: #14386b;
} .tachyon-progress-bar {
    background-color: #1aa32a;
    border-color: black;
} .gravitron-progress-bar {
    background-color: #5f6360;
    border-color: #222423;
} .dilithium-progress-bar {
    background-color: #c74ebb;
    border-color: #52054a;
} .antimatter-progress-bar {
    background-color: #2272a8;
    border-color: #761287;
} .dark-matter-progress-bar {
    background-color: #1c2bb0;
    border-color: dodgerblue;
} .nebula-progress-bar {
    background-color: #46474d;
    border-color: #7d0f3b;
} .universe-progress-bar {
    background-color: #1f1d1e;
    border-color: #288e99;
} .enlightenment-progress-bar {
    background-color: #c4c41a;
    border-color: #755109;
}

.fuel-progress-text {
    white-space: nowrap;
    margin-left: 7px;
}

.ship-card {
    display: inline-block;
    text-align: center;
    transition: width 0.5s; /* Add animation to resizing */
}

.ship-progress-ring {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

.ship-progress-anti-ring {
    transform: rotate(90deg) scale(1, -1);
    transform-origin: 50% 50%;
}

.ship-toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    line-height: 1;
    cursor: pointer;
    font-weight: bold;
}

.ship-toggle-button {
    color: #333333;
}

[data-bs-theme="dark"] .ship-toggle-button {
    color: #d3d3d3;
}

.hidden-ship-element {
    opacity: 0;
    display: none;
    pointer-events: none;
}

@media (max-width: 768px) {
    .ship-container {
        flex-direction: column; /* Change to a vertical layout */
    }
}

.abg {
    display: inline-block;
    padding-right: 10px;
}
