@using Stripe
@{
    ViewData["Title"] = "Donate";
}

<div>
    <h2>Donate</h2>
    <h4>Donations temporarily disabled, please check with staff if you want to do something.</h4>
</div>


<!-- TODO:
    Took all of this out during the open-source push. Maybe re-implement later.
-->