@using Stripe
@{
    ViewData["Title"] = "Donate";
    var claimsIdentity = (System.Security.Claims.ClaimsIdentity)User?.Identity;
    var id = "";
    if(claimsIdentity != null) {
        id = claimsIdentity.Claims.FirstOrDefault(x => x.Type == "DbUserId")?.Value;
    }

    bool test = Context.Request.Host.ToString().ToLower() != "egg9000.com";

    var apiKey = test ? "pk_test_51Huh4PFPOewxUi5tXVcMBVmbf40xuj8OyLOeZWN9PuXjAgA3GSJm7HDf7RBua00nNQg7nCGD6PAed6pB5FKhIbnf00EDsKRTs2" : "pk_live_51Huh4PFPOewxUi5tjhgfB2JXEH1lYCexPDy3G30BdCoFkqlptp071hN99FTmJ9XxSHpTRld4wZjOhF2rD0VSKSo900uYmuB4yG";

    Stripe.StripeConfiguration.ApiKey = test ? "sk_test_51Huh4PFPOewxUi5tQQHemFZFQ4x5CJ7edl8MmlS4QkIr2hFXcUSlp5DGL406mlg2MiJO6utmgHBDv5vL9Kgyqp5500L5GcePwf" : "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";
    var options = new ProductListOptions { Limit = 10, Active = true };
    var services = new ProductService();
    var products = services.List(options);

    var prices = new PriceService().List(new PriceListOptions { Limit = 20, Active = true,  });

    var productsAndPrices = products.Select(y => new {
        y.Description,
        image = y.Images.First(),
        y.Name,
        price = prices.Where(z => z.ProductId == y.Id).FirstOrDefault(x => x.UnitAmount  == 100)
    }).OrderByDescending(x => x.Name).Where(x => x.price != null);
    ;
}

<div ng-controller="donation">


    <h2>Donate</h2>
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3"></script>


    @if(string.IsNullOrWhiteSpace(id)) {
        <h4>If you would like a role for the donation, please <a href="/Identity/Account/Login">login using discord</a>. Otherwise if you would like to donate anonymously you can continue below. </h4>
    }

<i>Remember, all donations are returned to the community in the shape of event rewards. Cluckingham Palace will not keep any donations for own use. All time, server, data, domain and other expenses are donations by staff.</i>
    <div class="alert alert-danger" role="alert" ng-if="error">
        {{error}}
    </div>

    <div class="container">
        <div ng-repeat="product in products">
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <img ng-src="{{product.image}}" style="max-width: 55px; float: left; vertical-align: middle; margin-right: 10px;" />
                    {{product.Name}}<br />
                    <i style="font-size: 90%">{{product.Description}}</i>

                </div>
                <div class="col-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control" ng-model="product.donationAmount" type="number" min="3" max="1000" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        <div class="input-group-append">
                            <span class="input-group-text">USD</span>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary" ng-click="$parent.donate(product)">Donate</button>
                </div>
            </div>
        </div>
    </div>


</div>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js"></script>



    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <script>
        angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages'])
            .controller('donation', ['$scope', '$rootScope', '$uibModal', 'moment', '$http', '$timeout', '$interval', '$q', function ($scope, $rootScope, $uibModal, moment, $http, $timeout, $interval, $q) {
                $scope.error = '';
                $scope.test = true;

                $scope.stripe = Stripe('@apiKey');

                $scope.products = @Html.Raw(JsonConvert.SerializeObject(productsAndPrices));
                console.log($scope.products);

                $scope.donate = function (product) {
                    $scope.error = '';
                    product.donationAmount = parseInt(product.donationAmount);
                    console.log(product);
                    if (product.donationAmount < 3 || isNaN(product.donationAmount)) {
                        $scope.error = 'We can only accept payments of $3 or higher (in intervals of $1) due to credit card fees, please try again. Thanks for understanding!';
                        return;
                    }
                    if (product.donationAmount > 30) {
                        $scope.error = 'Donations are currently limited to $30 USD, please contact staff if you wish to exceed that amount.';
                        return;
                    }

                    var data = {
                        lineItems: [{ price: product.price.id, quantity: product.donationAmount }],
                        mode: 'payment',
                        submitType: 'donate',
                        successUrl: 'https://egg9000@(test ? ".dev.sglade" : "").com/donation/thankyou',
                        cancelUrl: 'https://egg9000@(test ? ".dev.sglade" : "").com/donation/',
                    };
            @if(!string.IsNullOrWhiteSpace(id)) {
    <text>data.clientReferenceId = '@id';</text>
            }

                    $scope.stripe.redirectToCheckout(data)
                        .then(function (result) {
                            if (result.error) {
                                $scope.error = result.error.message;
                            }
                        }, function (result) {
                            console.log(result);
                            $scope.error = result;
                        });
                };
            }]);

    (function () {

        $(".donateButton").click(function () {
            var price = $(this).data("price");
            var qty = parseInt($(this).prev("input").val()) || 3;
            if (qty < 3) {
                $("#error-message-1").text("")
                return;
            }
            if (qty > 30) {
                $("#error-message-1").text("")
                return;
            }
            var data = {
                lineItems: [{ price: price, quantity: qty }],
                mode: 'payment',
                submitType: 'donate',
                successUrl: 'https://egg9000.dev.sglade.com/donation/thankyou',
                cancelUrl: 'https://egg9000.dev.sglade.com/donation/',
            };
            //data.clientReferenceId = '';
            stripe.redirectToCheckout(data)
                .then(function (result) {
                    if (result.error) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, display the localized error message to your customer.
                        var displayError = document.getElementById('error-message-1');
                        displayError.textContent = result.error.message;
                    }
                }, function (result) {
                        console.log(result);
                        var displayError = document.getElementById('error-message-1');
                        displayError.textContent = result.error.message;
                });
        })
    })();
    </script>
}



<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<!--<div id="error-message-1" class="text-danger"></div>
<div>
    <div data-test="product_image" class="Box-root" style="display: inline-block; vertical-align: middle; background-image: url(&quot;https://stripe-camo.global.ssl.fastly.net/4fec2f69e42d2e205ba6f4729826b169f676e254/68747470733a2f2f66696c65732e7374726970652e636f6d2f6c696e6b732f666c5f746573745f47486f31433958355a6668734b65694475506a786453766a&quot;); background-size: contain; background-repeat: no-repeat; width: 40px; height: 40px; border-radius: 4px;"></div>
    Cluckingham Premium
    <input type="number" min="3" max="1000" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
    <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
            class="donateButton"
            data-price="price_1HuiTrFPOewxUi5tzgEJoFKq"
            role="link"
            type="button">
        Donate
    </button>
</div>
<div>
    <div data-test="product_image" class="Box-root" style="display: inline-block; vertical-align: middle; background-image: url(&quot;https://stripe-camo.global.ssl.fastly.net/5d689e6fccc7503d3eb134961139501e47069ad5/68747470733a2f2f66696c65732e7374726970652e636f6d2f6c696e6b732f666c5f746573745f56386e73323237746f354868675265734e597a4a78413370&quot;); background-size: contain; background-repeat: no-repeat; width: 40px; height: 40px; border-radius: 4px;"></div>
    Ash's Chicken Bucket

    <input type="number" min="3" max="1000" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
    <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
            class="donateButton"
            data-price="price_1HvniGFPOewxUi5toiJEO9sr"
            role="link"
            type="button">
        Donate
    </button>
</div>-->
@*<div>
        <div data-test="product_image" class="Box-root" style="display: inline-block; vertical-align: middle; background-image: url(&quot;https://d1wqzb5bdbcre6.cloudfront.net/19249c754fead938ef505f3978901b9dd0fbc62d/68747470733a2f2f66696c65732e7374726970652e636f6d2f6c696e6b732f666c5f6c6976655f387833654c4f76586869456d696a776e78586b6e49623275&quot;); background-size: contain; background-repeat: no-repeat; width: 40px; height: 40px; border-radius: 4px;"></div>

        <input type="number" min="3" max="1000" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
        <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                class="donateButton"
                data-price="price_1HuhrjFPOewxUi5tlKajzZwL"
                role="link"
                type="button">
            Pro Permit Donation
        </button>
    </div>
    <div>
        <div data-test="product_image" class="Box-root" style="display: inline-block; vertical-align: middle; background-image: url(&quot;https://d1wqzb5bdbcre6.cloudfront.net/89e1eab90c31d191f0e346a364973e120aeca9e9/68747470733a2f2f66696c65732e7374726970652e636f6d2f6c696e6b732f666c5f6c6976655f586363574a6b646c6f32435a6d6f6b686c74317643396839&quot;); background-size: contain; background-repeat: no-repeat; width: 40px; height: 40px; border-radius: 4px;"></div>


        <input type="number" min="3" max="1000" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
        <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                class="donateButton"
                data-price="price_1HuhuzFPOewxUi5twpN22lXh"
                role="link"
                type="button">
            Piggy Bank Donation
        </button>
    </div>
    <div>
        <div data-test="product_image" class="Box-root" style="display: inline-block; vertical-align: middle; background-image: url(&quot;https://d1wqzb5bdbcre6.cloudfront.net/857c1340755477b7139751861d88ff9b02dd5e10/68747470733a2f2f66696c65732e7374726970652e636f6d2f6c696e6b732f666c5f6c6976655f753379556979734e77735a364d66506552474a597352346e&quot;); background-size: contain; background-repeat: no-repeat; width: 40px; height: 40px; border-radius: 4px;"></div>


        <input type="number" min="3" max="1000" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
        <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                class="donateButton"
                data-price="price_1HuiACFPOewxUi5txCERdnW0"
                role="link"
                type="button">
            Gift card Donation
        </button>
    </div>*@