@{
    ViewData["Title"] = "Thank You";
}
<h1>Thank You</h1>
With your help we will be able to keep delivering eggciting rewards in Cluckingham Palace events. Thanks for helping out the community, we appreciate the support!