@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.ShowEB" class="form-check-label"></label>
                <input asp-for="Input.ShowEB" />
            </div>
@*            <h5>Only ping for contracts with the following rewards: </h5>
            <div style="margin-left: 15px;">
            <div class="form-group">
                <label asp-for="Input.SkipNoPE" class="form-check-label"></label>
                <input asp-for="Input.SkipNoPE" />
            </div>
            <div class="form-group">
                <label asp-for="Input.SkipNoArtifacts" class="form-check-label"></label>
                <input asp-for="Input.SkipNoArtifacts" />
            </div>
            <div class="form-group">
                <label asp-for="Input.SkipNoPiggyDouble" class="form-check-label"></label>
                <input asp-for="Input.SkipNoPiggyDouble" />
            </div>
            <em>(If you don't select any you'll be pinged for every contract you haven't completed)</em>
            </div>
*@            <hr />
            @*<div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>*@
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Input.DMOnShipReturn">
                <label class="form-check-label" asp-for="Input.DMOnShipReturn"></label>
                <span asp-validation-for="Input.DMOnShipReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ShipReturnMinutes"></label>
                <input asp-for="Input.ShipReturnMinutes" class="form-control" />
                <span asp-validation-for="Input.ShipReturnMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ShipReturnStillFuelingMinutes"></label>
                <input asp-for="Input.ShipReturnStillFuelingMinutes" class="form-control" />
                <span asp-validation-for="Input.ShipReturnStillFuelingMinutes" class="text-danger"></span>
            </div>
            <br />
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            <hr />
            <div class="form-check">
                <label class="form-check-label">
                    <input id="darkModeEnable" class="form-check-input" type="checkbox">
                Enable Dark Mode (beta, setting is per-browser)</label>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function setCookie(n, v) {
            document.cookie = n + "=" + v + "; samesite=none; secure; max-age=31536000; path=/";
        }
        function setCookieMaxExpiry(n, v){
            const d = new Date();
            d.setTime(d.getTime() + (24 * 60 * 60 * 1000));
            document.cookie = n + "=" + v + "; samesite=none;" + "expires=" + d.toUTCString() + ";" + "secure; max-age=31536000; path=/";
        }

      $(function() {
        // Check darkmode checkbox if cookie is found.
        if (Cookies.get('Egg9000Theme') == 'bootstrap-dark') {
            $('#darkModeEnable').prop('checked', true);
        }

        // Set cookie for dark/light on checkbox changed.
        $('#darkModeEnable').change(function() {
            if ($('#darkModeEnable').is(":checked")) {
                $('body').addClass("bootstrap-dark");
                $('body').removeClass("bootstrap");
                setCookieMaxExpiry('Egg9000Theme', 'bootstrap-dark');
            }
            else {
                $('body').addClass("bootstrap");
                $('body').removeClass("bootstrap-dark");
                setCookieMaxExpiry('Egg9000Theme', 'bootstrap');
            }
        })
      })
    </script>
}