@using Discord.WebSocket
@model List<EGG9000.Common.Contracts.PotentialCoopGroup>
@inject DiscordSocketClient discordClient
@{

    var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin") || User.IsInRole("GuildLesserAdmin");
    var boardingGroups = Model.GroupBy(x => x.BoardingGroup).Select(x => new
    {
        BoardingGroup = x.Key,
        Grades = x.Where(y => (y.PotentialCoops?.Count ?? 0)  > 0).Select(y => new {
            Grade = y.Grade.ToString(),
            GradeImage = PlayerGradeDetails.GetImage(y.Grade),
            Coops = y.PotentialCoops.Select(c => new {
                Users = c.Users.Select(u =>
                {
                    var discordUser = discordClient.GetGuild(u.User.GuildId).GetUser(u.User.DiscordId);
                    return new
                    {
                        EB = u.Backup.EarningsBonus,
                        EBString = u.Backup.EarningsBonus.ToEggString(),
                        Name = discordUser?.GetCleanName() ?? u.User.DiscordUsername,
                        MultipleAccounts = u.User.EggIncAccounts.Count > 1,
                        AccountName = u.Backup.UserName,
                        FromGroup = (u.AccountSettings.Group != x.Key ? u.AccountSettings.Group : 0),
                        EggIncId = isAdmin ? u.Backup.EggIncId : "",  
                        DatabaseId = isAdmin ? u.User.Id : Guid.Empty
                    };
                }),
                TotalEB = c.Users.Sum(u => u.Backup.EarningsBonus).ToEggString()
            })
        })

    }).Where(x => x.Grades.Any(y => y.Coops.Count() > 0)).OrderBy(x => x.BoardingGroup);


    var grades = Model.GroupBy(x => x.Grade).Where(x => x.Count() > 0);
    var contract = (Ei.Contract)ViewBag.Contract;
}
<style>
    .container {
        max-width: 100% !important;
    }
    .card {
    margin-bottom: 50px;
}
</style>

<div>User Counts:
@foreach(var grade in grades) {
    <span><img src="@PlayerGradeDetails.GetImage(grade.Key)" style="height: 1em;" /> @grade.Sum(x => x.PotentialCoops?.Sum(y => y.Users.Count) ?? 0) &nbsp;&nbsp;</span>
}
</div>

<div ng-controller="Page">
    Boarding Group <select ng-model="bg" ng-options="item as item.BoardingGroup for item in boardingGroups track by item.BoardingGroup"></select>
    <div class="row scrollable">
    <div class="col-sm" ng-repeat="group in bg.Grades">
        <h2><img ng-src="{{group.GradeImage}}" style="height: 1em;" /> ({{group.Coops.length}})</h2>
        <div class="card" ng-repeat="coop in group.Coops">
            <h5 class="card-header">Coop ({{coop.Users.length}}/@contract.MaxCoopSize)</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="user in coop.Users">
                            <td>{{user.Name}} <span ng-if="user.MultipleAccounts">({{user.AccountName}})</span> <span ng-if="user.FromGroup > 0" style="display: inline-block;background-color: mediumvioletred">BG{{user.FromGroup}}</span></td>
                            <td>{{user.EBString}}</td>
                        </tr>
                    </tbody>
                </table>
            <div class="card-footer">
                    Total EB {{coop.TotalEB}} 
                    @if (isAdmin)
                    {
                        <button ng-click="Start(coop, group.Coops, group.Grade)">Start</button>
                    }
                </div>
        </div>
    </div>
    </div>
</div>




@section Scripts {
    <script>
    angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages'])
        .controller('Page', ['$scope', '$rootScope', '$uibModal', 'moment', '$http', '$timeout', '$interval', '$q', function ($scope, $rootScope, $uibModal, moment, $http, $timeout, $interval, $q) {
            $scope.boardingGroups = @Html.Raw(JsonConvert.SerializeObject(boardingGroups));
            $scope.bg = $scope.boardingGroups[0];

                $scope.Start = function (coop, coops, grade) {
                    if (confirm("Are you sure you want to start this co-op?")) {


                        var prefarms = [];
                        angular.forEach(coop.Users, function (user) {
                            prefarms.push({ EggIncId: user.EggIncId, DatabaseId: user.DatabaseId, Name: user.Name })
                        });
                        $http.post("/contract/startcoop?GuildId=@ViewBag.GuildId&ContractID=@ViewBag.Contract.Identifier&grade=" + grade, prefarms).then(function Success(response) {
                            if (response.data.error) {
                                alert(response.data.message);
                                return;
                            }
                            console.log(response);

                            $.each(coops, function (i) {
                                if (coops[i].Users[0].EggIncId == coop.Users[0].EggIncId) {
                                    coops.splice(i, 1);
                                    return;
                                }
                            });
                        }, function Error(response) {
                            alert("Error");
                            console.log(response);
                        });
                    }
                };

    }]);
    </script>
}