@model List<EGG9000.Common.Database.Entities.GuildContract>
@{
    ViewData["Title"] = "Contracts";
}


<h2>Recent Contracts</h2>
@foreach(var contractGroup in Model.OrderBy(x => x.DeletedChannel).GroupBy(x => x.Contract)) {
    var contract = contractGroup.Key;
    <div class="card">
        <h5 class="card-header">
            @contract.Name
            @if(contract.GoodUntil < DateTimeOffset.Now) {
                    <i class="text-danger">Expired</i>
                }
        </h5>
        <div class="card-body">
            @foreach(var guildContract in contractGroup) {
                <a href="/Contract/Details?GuildId=@guildContract.GuildID&ContractId=@guildContract.ContractID&Elite=@guildContract.Elite" class="btn btn-primary">@(guildContract.Elite ? "Elite" : "Standard") Co-ops</a>
            }
            @if(contractGroup.Any(x => x.HasScores)) {
                <a href="/Contract/ScoreGraph?GuildId=@contractGroup.First().GuildID&ContractId=@contractGroup.First().ContractID" class="btn btn-primary">Scores Graph</a>
            }
        </div>
    </div>
    <br />
}