@model List<EGG9000.Common.Database.Entities.GuildContract>
@{
    ViewData["Title"] = "Contracts";
}


<h2>Recent Contracts</h2>
@foreach(var contractGroup in Model.OrderBy(x => x.DeletedChannel).Where(x => x.Created > DateTimeOffset.FromUnixTimeSeconds(1682917200)).GroupBy(x => x.Contract)) {
    var contract = contractGroup.Key;
    <div class="card">
        <h5 class="card-header">
            @contract.Name
            @if(contract.GoodUntil < DateTimeOffset.Now) {
                    <i class="text-danger">Expired</i>
                }
        </h5>
        <div class="card-body">
            @foreach (var grade in (Ei.Contract.Types.PlayerGrade[])Enum.GetValues(typeof(Ei.Contract.Types.PlayerGrade))) {
                if(grade == Ei.Contract.Types.PlayerGrade.GradeUnset) {
                    continue;
                }
                <a href="/Contract/Details?GuildId=@contractGroup.First().GuildID&ContractId=@contractGroup.First().ContractID&League=@((int)grade)" class="btn btn-primary">@grade Co-ops</a>
            }
            @if(contractGroup.Any(x => x.HasScores)) {
                <a href="/Contract/ScoreGraph?GuildId=@contractGroup.First().GuildID&ContractId=@contractGroup.First().ContractID" class="btn btn-primary">Scores Graph</a>
            }
        </div>
    </div>
    <br />
}